
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  padding: 20px;
}
.navbar{
  background-color: azure;
  display: flex;
  justify-content: space-between;
   align-items: center;
  padding:10px;
  max-width: 1280px;
  margin: auto;
 

}

.nav-items ul{
display: flex;
color: bold;
list-style: none;

}

.navbar a {
  text-decoration: none;
  color: #4b4a4a;
  /* font-weight:bold; */
 
}
 .navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-left a.grey{
  color: #a5a2a2;
}

  /* section2 */
.banner{
  display: flex;

background-color:white;
align-items: center;
margin:auto;
border: 5px;
justify-content: center;

}
.container{
max-width: 1280px;
 margin: auto;
 
}
.banner p{
  font-size: 16px;
  color: #a5a2a2;
  max-width:65% ;

}
.banner h1{
  padding-inline-end: 200px;
 
  margin-top: 20%;
  margin-left: auto;
  font-size: 70px;
  font-style: inherit;
 

}
.banner img{
  margin-top:60%;
  display: block
}

/* scetion3 */


  .container-title{
   background-color:whitesmoke;
align-items: center;
margin:auto;
border: 5px;
row-gap: 10px;
justify-content: center;
display: grid;
grid-template-columns: 4 (1fr);
max-width: 1240px;

  }

  .container-title h2{
    text-align: center;
    /* align-content: center; */
    margin-top:15%;
    font-size: 50px;
  }
  .subtitle{
    text-align: center;
    font-size:20px ;
    font-weight: bold;
  }
/* card */
  .container-card{
/* display: flex;
justify-content: center;
align-content: center;
flex-wrap: wrap; */
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 15px;
max-width: 1240px;
margin-top: 49px;
padding:0;

  }

  .title{
    text-align:center;
    font-weight: bold;
  }
  .button-name{
  justify-content: center;
  
  }
  .box{
    display: flex;
    background-color: rgb(253, 111, 46);
    align-items: center;
  justify-content: center;
  font: bold;
  font-size: 14px;
  height: 10%;
  }